.progressBar{
    -webkit-animation: animate-stripes 5s linear infinite;
    animation: animate-stripes 5s linear infinite;
    background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #a855f7, #a855f7);
    background-size: 15px 10px, 100% 100%, 100% 100%;
}

@-webkit-keyframes animate-stripes {
   100% { background-position: 100px 0px; }
}

@keyframes animate-stripes {
   100% { background-position: 100px 0px; }
}
