.windowControls {
  -webkit-app-region: no-drag;
  overflow: hidden;
  width: 138px;
  height: 100%;
  display: block;
}
.button {
  user-select: none;
  -webkit-app-region: no-drag;
  width: 46px;
  height: 100%;
  float: left;
}
.button img {
  margin: 0 auto;
  margin-top: 14px;
  margin-bottom: 14px;
}
.button:hover {
  background: rgba(255,255,255,0.1);
}
.button:active {
  background: rgba(255,255,255,0.2);
}
.minButton {
  -webkit-app-region: no-drag;
  width: 46px;
}
.minButton img {
  margin: 0 auto;
  margin-top: 14px;
  margin-bottom: 14px;
}
.maxButton, .restoreButton {
  -webkit-app-region: no-drag;
  width: 46px;
}
.maxButton img, .restoreButton img {
  margin: 0 auto;
  margin-top: 14px;
  margin-bottom: 14px;
}
.closeButton {
  -webkit-app-region: no-drag;
  width: 46px;
  height: 100%;
  float: left;
}
.closeButton img {
  margin: 0 auto;
  margin-top: 14px;
  margin-bottom: 14px;
}
.closeButton:hover {
  background: #e81123 !important;
}
.closeButton:active {
  background: #f1707a !important;
}
.closeButton:active img {
  filter: invert(1);
}
